body {
    font-family: 'Raleway', Courier, monospace;
}
    
    
    h1 {
    font-size: 32px;
    line-height: 70px;
    font-weight: 500;
    color:black;
    text-align: center;
}
h2 {
    font-size: 25px;
    line-height: 50px;
    font-weight: 400px;
    color: white;
    text-align: center;
}
h3 {
    font-size: 20px;
    line-height: 40px;
    font-weight: 100px;
    color: white;
}
p {
    font-size: 20px;
    line-height: 32px;
    
}
img {
    width: 350px;
    height: 200px;
}
.iphone_body {
    height: 240px;
    width: 600px;
    background-image: url('../resources/iphone_body.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-left: 50px;
}
.iphone_body_text_wrapper {
    color: white;
    width: 300px;

}

.iphone_body_text_wrapper h2, h3, p {
    font-size: 12px;
}